
@font-face {
    font-family: 'zabars';
    src: url('./fonts/zabars.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('./img/9_background/desert.png');
    background-position: center;
    font-family: "zabars", Arial, Helvetica, sans-serif;
    color: rgb(237, 237, 237);
}

.fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 96px;
    letter-spacing: 4px;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
margin: 5px;
}

.d-none {
    display: none;
}

canvas {
    background-color: black;
    display: block;
}

/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
    
}

/* Smartphones */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media only screen and (max-height: 650px) {

    
    .hidemobile {
        display: none;
    }
}