@font-face {
    font-family: 'zabars';
    src: url('./fonts/zabars.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url('./img/9_background/desert3.png');
    background-size: cover;
    background-position: center;
    font-family: "zabars", Arial, Helvetica, sans-serif;
    color: rgb(252, 133, 54);
}

.fullscreen {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 96px;
    letter-spacing: 6px;
    text-shadow: 6px 6px rgba(0, 0, 0, 0.5);
    margin: 5px;
}

#startscreen, #endscreen {
    position: relative;
}

.button {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 221, 0);
    color: rgb(250, 100, 0);
    letter-spacing: 1px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    font-size: 48px;
    border-radius: 5px;
    border: 1px solid black;
    width: 250px;
    height: 50px;
    padding: 8px;
    margin: 25px auto auto auto;
cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

canvas {
    background-color: black;
    display: block;
}

/* Smartphones */
@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }

}

/* Smartphones */
@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}

@media only screen and (max-height: 650px) {


    .hidemobile {
        display: none;
    }
}